@import '../../styles/form.module';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .description {
    line-height: 1.5;
    font-size: 1rem;
  }

  .form {
    max-width: 360px;
    padding: 2rem;
    background-color: #f6f7fc;
    border-radius: 0.25rem;
  }

  .message {
    margin: 15px 0 0;
    color: lighten($default-text-color, 30%);
    font-size: 14px;
  }
  .message a {
    color: lighten($primary-color, 5%);
    text-decoration: none;
  }
}
